<div class="question-container">
  <div class="vote-container">
    <%= button_to '+', question_votes_path(@question.id), params: {vote_value: 1}  %>
    <%= @question.vote_count %><br>
    <%= button_to '-', question_votes_path(@question.id), params: {vote_value: -1}  %>
  </div>
  <div class="q-title">
    <%=@question.title%>
  </div>
  <div class="q-content">
    <%=@question.content%>
  </div>
</div>
